* {
  box-sizing: border-box;
}

article {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
article div {
  border: 2px solid black;
  padding: 5px;
  flex: 0 0 calc(25% - 10px);
}
#tablazat table{
border-collapse: collapse;
font-size: 24px;
color: rgb(156, 47, 133);
background-color: rgb(173, 162, 162);
}
#tablazat td{
  border: 5px solid black
}

@media screen and (max-width: 400px) {
  article div {
    flex: 0 0 calc(50% - 10px);
  }
}
